@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import "variables.scss";

body {
    background-color: $white;
    font-family: 'Inter', sans-serif;
}

.info-bar {
    background-image: linear-gradient(180deg, darken($white, 5%), darken($white, 10%));
    box-shadow: 0 2px 15px 5px darken($white, 15%);

    h6, a {
        text-transform: uppercase;
        color: #0A646B;
        margin-top: .2rem;
    }
}

.form-login {
    width: 50%;
    background-image: linear-gradient(180deg, $secondary, darken($secondary, 10%));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px darken($white, 20%);

    hr {
        background-color: $primary;
    }

    label, h5 {
        color: $white;
    }
}