@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import "variables.scss";

body {
    background-color: $white;
    font-family: 'Inter', sans-serif;
}

.info-bar {
    background-image: linear-gradient(180deg, darken($white, 5%), darken($white, 10%));
    box-shadow: 0 2px 15px 5px darken($white, 20%);

    h6, a {
        text-transform: uppercase;
        font-weight: bold;
        color: #0A646B;
        margin-top: .2rem;
        transition: .3s;
    }

    a:hover {
        color: lighten(#0A646B, 20%);
    }
}

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-login {
    width: 50%;
    background-image: linear-gradient(180deg, $secondary, darken($secondary, 10%));
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px darken($white, 20%);

    hr {
        background-color: $primary;
    }

    label, h5 {
        color: $white;
    }
}

.card-dashboard {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, lighten($ternary, 10%), $ternary);
    padding: 8rem 0;
    text-align: center;
    border-radius: 5px;
    color: $white;
    text-decoration: none;
    transition: transform .3s;

    &:hover {
        transform: translateY(-20px);
        color: $white;
        text-decoration: none;
    }

    h4 {
        margin-top: 1.5rem;
        font-weight: bold;
    }
}

.side-menu {
    position: relative;
    height: 92vh;
    background-color: $dark;
    color: $white;

    ul {
        list-style: none;
        padding-inline-start: .5rem;
        padding-inline-end: .5rem;

        li {

            font-size: .9em;
            padding: .3rem 0;

            a {
                display: block;
                padding: .4rem .5rem;
                text-decoration: none;
                color: $white;
                border-radius: 3px;
                transition: .3s;

                &:hover {
                    background-color: $primary;
                    color: $dark;
                }
            }
        }
    }

    .button-back {
        width: 90%;
        position: absolute;
        bottom: 0;
    }
}

.form-search {
    margin-block-end: 0;

    button {
        border: none;
        outline: none;
        cursor: pointer;
        color: $secondary;
        transition: .3s all;

        &:hover {
            color: darken($secondary, 15%);
        }
    }
}

.table-consult {
    background-color: darken($white, 5%);
    box-shadow: 0 0 10px 5px darken($white, 20%);

    th, td {
        padding: .5rem 1rem;
    }

    .edit, .delete {
        width: 8%;
    }
}

.toast-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
    opacity: 0;

    .toast {
        box-shadow: 0 0 10px 3px darken($white, 15%);
        border-radius: 5px;

        .toast-header {
            color: $white;
            padding: .3rem .7rem;
            border-radius: 5px 5px 0 0;
        }

        .toast-body {
            padding: .3rem .7rem;
        }
    }
}