@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import "variables.scss";

body {
    background-color: $white;
    font-family: 'Inter', sans-serif;
}

.info-bar {
    background-image: linear-gradient(180deg, darken($white, 5%), darken($white, 10%));
    box-shadow: 0 2px 15px 5px darken($white, 20%);

    h6, a {
        text-transform: uppercase;
        font-weight: bold;
        color: #0A646B;
        margin-top: .2rem;
        transition: .3s;
    }

    a:hover {
        color: lighten(#0A646B, 20%);
    }
}

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-login {
    width: 50%;
    background-image: linear-gradient(180deg, $secondary, darken($secondary, 10%));
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px darken($white, 20%);

    hr {
        background-color: $primary;
    }

    label, h5 {
        color: $white;
    }
}

.card-dashboard {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, lighten($ternary, 10%), $ternary);
    padding: 8rem 0;
    text-align: center;
    border-radius: 5px;
    color: $white;
    text-decoration: none;
    transition: transform .3s;

    &:hover {
        transform: translateY(-20px);
        color: $white;
        text-decoration: none;
    }

    h4 {
        margin-top: 1.5rem;
        font-weight: bold;
    }
}

.side-menu {
    height: 100vh;
    background-color: $dark;
    color: $white;

    ul {
        list-style: none;
        padding-inline-start: .5rem;
        padding-inline-end: .5rem;

        li {

            li {
                font-size: .9em;
            }

            a {
                display: block;
                padding: .4rem .5rem;
                text-decoration: none;
                color: $white;
                border-radius: 3px;
                transition: .3s;

                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}